<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<!--Имплементирајте метод public String saveBook() кој ќе
овозможи додавање на нова книга и кој како request параметри
 ќе ги прими името на книгата title, isbn идентификаторот,
 жанрот на книгата genre, годината year и id-то на книжарницата
  кое корисникот ќе го бира од паѓачко мени (select компонента)
  . Нека одговара на mapping /books/add, и при успешно додаденa
  нека редиректира кон погледот со сите книги.-->
    <form method="post" action="/books/add">
        <h3>Title:</h3>
      <input type="text" name="title"> <br> <br>
        <h3>Isbn:</h3>
      <input type="text" name="isbn"> <br> <br>
        <h3>Genre:</h3>
      <input type="text" name="genre"> <br> <br>
        <h3>Year:</h3>
      <input type="number" name="year"> <br> <br>
        <h3>Bookstore:</h3>
      <select name="id">
          <option th:each="bookStore : ${bookStores}" th:text="${bookStore.name}" th:value="${bookStore.id}"></option> <br> <br>
      </select>
      <input type="submit" value="Add">
    </form>
</body>
</html>